<div class="hero-unit">
  <h1>Welcome to SNP Database</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</p>
  <p>
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Learn more</a>
<a class="btn btn-primary btn-large">SNP database</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">International Genomics and Translational Research in Transplantation (iGeneTrain)</h3>
  </div>
  <div class="modal-body">
    <p>The International Genomics and Translational Research in Transplantation network (iGeneTrain) Network is bringing 
together a number of academic research organizations and Industry partners across Europe, America, Australia
and Asia. The iGeneTrain network aims to harness the wealth of existing and emerging data and knowledge 
gained from clinical tx research studies in epidemiology, genomics and translational science from a range of 
clinical cohorts. iGeneTrain ultimately aims to translate this information into clinical applications such as patientspecific IST dosing, better genomic compatibility matching of D/R pairs and more optimal rejection monitoring. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

  </p>
</div>

